.topArrangement{
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.panelDiv{
    background-color: lightgray;
    border-radius: 30px;
}

.photosDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap:1.2rem
}